# Environments and Keys
.env
*.env
.env.*
!.env.example

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Chroma & vector DB local caches
.chroma/
chroma.sqlite3

